* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', 'Oswald', sans-serif;
    background-image: url(image/fone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    line-height: 1.2;
    font-weight: normal;

}

.wrapper {
    max-width: 1050px;
    margin: 0 auto;
}

.header {
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.header__logo {
    font-size: 30px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    list-style: none;
}

.header__link {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header__link:hover {
    color: rgb(79, 74, 83);
}

h1 {
    text-align: center;
    color: white;
    padding: 120px;
}

.conteiner .image-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.conteiner .image-conteiner .img {
    width: 250px;
    height: 350px;
    overflow: hidden;

}


.img {
    object-fit: cover;
    gap: 10px;
    border-radius: 10px;
    border: 5px solid rgb(36, 31, 31);

}

.img:hover {
    transform: scale(1.1);
    transition: 0.3s;

}



.footer__contact {
    margin: 14px;
    position: absolute;
    bottom: 0;
    height: 40px;

}